html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, embed,

figure, figcaption, footer, header, hgroup,

menu, nav, output, ruby, section, summary,

time, mark, audio, video {

margin: 0;

padding: 0;

border: 0;

font-size: 100%;

font: inherit;

vertical-align: baseline;

}

article, aside, details, figcaption, figure,

footer, header, hgroup, menu, nav, section {

display: block;

}

body {

line-height: 1;

}

ol, ul {

list-style: none;

}

blockquote, q {

quotes: none;

}

blockquote:before, blockquote:after,

q:before, q:after {

content: '';

content: none;

}

table {

border-collapse: collapse;

border-spacing: 0;
}

body {
    font-family: 'Inter';
    font-style: normal;
}
  

header {
    display: flex;
    padding: 32px 70px;
    justify-content: space-between;
}
 
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 40px;
}

.menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.contactBtn button{
    background: #0099FF;
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 54px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
  
.homeContent {
    display: flex;
    justify-items: stretch;
    align-items: center;
    margin: 0 5% 100px;
}

.homeText {
    width: 50%;
}

.homeText h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 110%;
    letter-spacing: -0.015em;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}

.homeText p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}
  
.homePhoto {
    width: 50%;
    height: auto;
}

.homePhoto img {
    width: 100%;
}

.homeBtn .start, .homeBtn .more, .portfolio .start {
    display: inline-block;
    margin-right: 16px;
    width: 200px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    text-decoration: none;
    background: #0099FF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.homeBtn .more {
    background: #FFFFFF;
    color: #0099FF;
    border-color: #0099FF;
}
  
  
  
.services {
    background: rgba(0, 153, 255, 0.04);
    padding: 120px 80px;
    text-align: center;
    color: #333333;
}

.services .servicesText h6 {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.services .servicesText h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
}

.services .servicesText p {
    display: inline-block;
    width: 612px;
    font-weight: 400;
    font-size: 16px;
    line-height: 156%;
    color: #494949;
    font-family: Arial, Helvetica, sans-serif;
}

.servicesItems {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 72px;
}

.servicesItems .sItem {
    background: #FFFFFF;
    border-radius: 4px;
    height: 342px;
    padding: 0 26px;
    position: relative;
}

.servicesItems .sItem a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.servicesItems .sItem img {
    width: 100px;
    padding-top: 57px;
    padding-bottom: 16px;
}
.servicesItems .sItem h4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 133%;
    color: #333333;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.servicesItems .sItem p {
    width: 255px;
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    color: #494949;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

.services, .meetOurTeam {
    background: rgba(0, 153, 255, 0.04);
    padding: 120px 80px;
    text-align: center;
    color: #333333;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  
  .meetOurTeam {
    padding-bottom: 210px;
  }

  .services .servicesText h6, .meetOurTeam h6, .portfolioText h6 {
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .services .servicesText h2, .meetOurTeam h2, .portfolioText h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 138%;
  }

  .meetText, .portfolioText {
    width: 494px;
    margin: 0 auto;
  }

  .meetItems, .portfolioItems {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 60px;
  }

  .mItem{
    position: relative;
  }

  .meetItems .mItem img {
    width: 308px;
    border-radius: 5px;
  }

  .meetItems .mItem .mItemDesc .contact img{
    width: 15px;
    padding-right: 8px;
  }

  .meetItems .mItem .mItemDesc {
    background: #FFFFFF;
    position: absolute;
    top: 80%;
    left: 24px;
    right: 24px;
    height: 133px;
    box-shadow: 0px 10px 20px rgba(164, 217, 253, 0.15);
    border-radius: 5px;
    text-align: left;
  }
  

  .meetItems .mItem .mItemDesc .contact {
    padding-left: 8px;
    padding-top: 8px;
  }

  .meetItems .mItem .mItemDesc .name {
    padding-left: 8px;
    padding-top: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
  }

  .meetItems .mItem .mItemDesc .position {
    padding-left: 8px;
    padding-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #494949;
  }

  .realEstate{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.267);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 390px;
    height: 575px;
    border-radius: 5px;
  }

  .portfolioText{
    text-align: center;
  }
  
  .realText h2{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 133%;
  }

  .realText p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
  }

  .realText{
    margin-top: 20px;
  }

  .imgRead{
    margin-top: 20px;
    width: 5vw;
  }
  
  .portfolio{
    padding-top: 5vw;
    padding-bottom: 10vw;
    display: flex;
    flex-direction: column;
  }

  .btnPort{
    align-self: center;
    justify-self: center;
    margin-top: 3vw;
  }
  
  
  
  
  
  
  
  
  
  
  